body {
  background-color: #f7f6f5;
  width:100%;
  margin:0;
  padding:0;
}


.logo-contain {
  height: 35px;
  position:fixed;
  width: 100%;
  border-bottom: .5px solid #171717;
  display:inline;
}


.logo {
  position:fixed;
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-size: 14pt;
  margin-left:30px;
  margin-top:7px;
}

.logo a{
  text-decoration:none;
  color:#171717;
}

.logo-center {
  font-size: 10pt;
  font-family: 'Cormorant Garamond', serif;
  text-align:center;
  margin-top:-3px;
}

.logo-right {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-size: 14pt;
  margin-top:-52px;
  float: right;
  margin-right:30px;
}

.logo-right a{
  text-decoration:none;
  color:#171717;
}

.logo img {
  position:fixed;
    width:85px;
    max-width:none;
    margin-left: 30px;
    margin-top:30px;
}



.page_container {
width:100%;
}

.header {
    width: 100%;
    height: 50px;
}

.logo img {
  position:fixed;
    width:85px;
    max-width:none;
    margin-left: 30px;
    margin-top:30px;
}

.top_section {
  margin-top:150px;
}
.section_2{
  margin-top:50px;
}
.description {
  width:40%;
  color:#171717;
  font-size: 1.05em;
  margin-left:200px;
  margin-right:200px;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  line-height: 1.8;
}

.description h1 {
  color:#121513;
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  margin-bottom:15px;
}

.description h2 {
  color:#121513;
  font-family: 'DM Serif Display', serif;
  margin-bottom:15px;
}

.credits {
  margin-left:200px;
  margin-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:10pt;
  line-height: 1.6;
}

.view-site {
  margin-left:200px;
  }

.view-site a{
color:#171717;
font-family: 'Cormorant Garamond', serif;
font-weight:100;
font-style:italic;
}

video {
  text-align:center;
  width:80%;
}

video::-webkit-media-controls-panel {
  background-image: none !important;
  filter: brightness(0.4);
}

.anima img {
  width: 80%;
  height: auto;
  display:block;
  margin:auto;
}

.anima_pg img {
  width: 80%;
  height: auto;
  display:block;
  margin:auto;
  padding-bottom:50px;
}

.wrapper {
  margin-left:200px;
  margin-right:200px;
  text-align:center;
  }
  
  #container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  
  #container img {
    width: 280px;
    min-width: 100px;
    text-align:center;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .image_wrap img{
    width:40%;
    margin-bottom: 100px;
  }

  .image_radius img{
    width:100%;
    margin-bottom: 100px;
  }

  .image_ethera img{
    width:60%;
  }

  .image_ethera_bg{
    width:100%;
    background-image: linear-gradient(#f7f6f5, #e2dac3,#f7f6f5);
  }
  .image_ethera_wbg img{
    width:80%;
    margin-bottom: 100px;
  }

  .book_bottom {
    margin-bottom:100px;
  }

  .img_container {
    margin-top: 50px;
    width:100%;
    text-align:center;
  }

  .img_set {
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    text-align:center;
  }

  .img_set img{
    width: 60%;
  }

  .img_set_web img{
    width: 80%;
  }

.grid img {
  width:30%;
}

  .grid {
    display:inline-block;
  }

  .footer {
    width:100%;
    height:50px;
  }

  .logo-bottom {
    font-size: 10pt;
  font-family: 'Cormorant Garamond', serif;
  text-align:center;
    margin-top:200px;
  }



   /* iPhone */
   @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2) {

.description h1 {
  line-height:1.2;
}

.description h2 {
  color:#121513;
  font-family: 'DM Serif Display', serif;
  margin-bottom:15px;
}
     
    .top_section {
      margin-top:100px;
    }
     .intro {
         margin-top:100px;
         width:450px;
         font-family: 'Raleway', sans-serif;
         font-weight:500;
         font-size: 24pt;
         letter-spacing: 1px;
         line-height:2.5ch;
       }
 
       .description p{
        font-size:1em;
         margin-left:0px;
         margin-right:20px;
       }

       .description {
        font-size:1em;
         margin-left:30px;
         margin-right:20px;
         width:80%;
       }

       .credits {
        margin-left:30px;
        margin-bottom: 80px;
        font-size:10pt;
      }

      .view-site {
        margin-left:30px;
        }


      video {
        text-align:center;
        width:100%;
        margin:0;
      }

      .wrapper {
        margin-left:0px;
        margin-right:0px;
        text-align:center;
        }
        
        #container {
          display: block;
          margin: 0;
          padding: 0;
        }
        
        
        #container img {
          width: 100%;
          min-width: 100px;
          text-align:center;
          margin-bottom:10px;
          margin-right:0px;
        }

        .image_wrap img{
          width:90%;
          margin-bottom:50px;
        }

        .image_radius img{
          width:100%;
        }

        .img_container {
          max-width:100%;
        }
 
        .img_set {
          display: block;
          margin-top:20px;
        }

        .img_set img{
          width:80%;
        }

        .img_set_web img{
          width: 90%;
        }

        .grid img {
          
          width:80%;
        }
        .logo-center {
          display:none;
        }
        .logo-right {
          margin-top: -12px;
          margin-right: 10px;
        }
        .logo-left {
          margin-right: 10px;
        }
   }