body {
  background-color: #f7f6f5;
  width:100%;
  margin:0;
  padding-top:1px;
}


​

.header {
  width: 100%;
  height: 50px;
}

.logo-contain {
  height: 35px;
  position:fixed;
  width: 100%;
  border-bottom: .5px solid #171717;
  display:inline;
}

.logo {
  position:fixed;
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-size: 14pt;
  margin-left:30px;
  margin-top:7px;
}

.logo a{
  text-decoration:none;
  color:#171717;
}

.logo-center {
  font-size: 10pt;
  font-family: 'Cormorant Garamond', serif;
  text-align:center;
  margin-top:-3px;
}

.logo-right {
  font-family: 'Cormorant Garamond', serif;
  font-style:italic;
  font-size: 14pt;
  margin-top:-52px;
  float: right;
  margin-right:30px;
}

.logo-right a{
  text-decoration:none;
  color:#171717;
}

.logo img {
  position:fixed;
    width:85px;
    max-width:none;
    margin-left: 30px;
    margin-top:30px;
}


.intro {
  margin-top:200px;
}

.intro p{
    margin-left:200px;
    margin-right:200px;
    font-family: 'DM Serif Display', serif;
    font-weight:400;
    font-size: 28pt;
    letter-spacing: 1px;
    line-height:3.5ch;
}

.main {
    width:100%;
    text-align:center;
}

.box {
    margin-top:50px;
    margin-right: 50px;
    margin-left:50px;
    height: 400px;
    width: 350px;
    vertical-align: top;
    display:inline-block;
  }


  .image img{
    width:90%;
  }
  

  .image-text {
    margin-left:20px;
    text-align:left;
    padding-top: 10px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 0.7px;
    font-weight:500;
    color: #292929;
    font-size: 14pt;
    line-height:1;
  }

  .sub-text {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 10pt;
    color: #77828b;
    margin-left:20px;
    margin-top:10px;
    text-align:left;
    line-height:2.2ch
  }

  .footer {
    width:100%;
    height:50px;
  }

  .logo-bottom {
    font-size: 10pt;
  font-family: 'Cormorant Garamond', serif;
  text-align:center;
    margin-top:200px;
  }


  /* iPhone */
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .logo img {
      position:fixed;
      width:85px;
      height:auto;
      margin-left: 22px;
      margin-top:22px;
  }

    .intro {
        width:350px;
        font-family: 'Raleway', sans-serif;
        font-weight:500;
        letter-spacing: 1px;
        line-height:2.5ch;
          margin-top: 100px;
      }

      .intro p{
        font-size: 22pt;
        margin-left:20px;
        margin-right:20px;
      }

      .box {
    margin-top:80px;
    margin-right: 0px;
    margin-left:0px;
    height: 400px;
    width: 100%;
  }
  .logo a{
    margin-left:20px;
  }
  .logo-center {
    display:none;
  }
  .logo-right {
    margin-top: -12px;
    margin-right: 20px;
  }
  .logo {
    margin-left: 0px;
  }
  }
